.main {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,1)), url("../../public/images/background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
}